@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600;700&family=Satisfy&display=swap');



body{
    display: flex;
    background-color: #393838;
    justify-content:center;

}

#main_block{
    flex-direction: column;
    padding: 1.5%;
    display: inherit;
    justify-content: inherit;
    align-items: center;
    background-color:  #998787;
    width: 1440px;
    max-width: 90%;
    height: max-content;
}
#header {

    border-top-left-radius: 80px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 40px;

    width: 1390px;
    max-width: 90%;
    height: 68px;
    background: #C4C4C4;
    backdrop-filter: blur(4px);

    margin-bottom: 30px;
}

#header_grid {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2%;
    grid-template-areas:
    ". . .";
}

#header_buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

#header_auth_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text{
    font-family: Satisfy, cursive;
    font-size: 15pt;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: min-content;
}

#an{
    color: white;
    align-self: flex-start;
    margin: 0;
    margin-top: 4px;
    margin-left: 28px;
}

#for{
    color: black;
    align-self: flex-end;
    margin: 0;
    margin-bottom: 5px;
    margin-right: 9px;
}

.button
{

    font-family: Rokkitt, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;

    margin-left: 4px;
    margin-right: 4px;

    width: 15%;
    height:40px;

    border: solid 1.49px;
    color:rgba(0, 0, 0, 1);
    border-color:rgba(255, 255, 255, 0.51);
    background:rgba(196, 196, 196, 1);
}

.button:hover{
    background: rgba(109, 107, 107, 0.72);
}
.button:active{
    background: rgba(223, 220, 220, 0.72);
}

.button_auth{
    margin-right: 4px;
    margin-right: 4px;

    transition: transform 500ms;

    font-family: Rokkitt, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    border-radius: 42px;
    border: 0px;

    height: 40px;
    width: 30%;
}

.button_auth#sign_in{
    background-color: black;
    color: white;
}

.button_auth#sign_out{
    background-color: white;
    color: black;
}

.button_auth#sign_in:hover{
    transform: rotate(-19.25deg);

}

.button_auth#sign_out:hover{
    transform: rotate(-19.25deg);
}


#anouncements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px 2em;
    grid-template-areas:
    ". . . . ";
    width: 1300px;
    justify-content: center;
}

#load{
    margin: 20px;
    border: solid 1px;
    transition: 1s;
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;

    color:#fff;
    border-color:rgba(235, 238, 233, 1);
    font-weight:bold;
    background:rgba(190, 183, 183, 1);
}

#load:hover{
    border: 0px;
    transform: scale(1.15);
    background: rgba(155, 155, 155, 1)
}